
    /* COLORS */

.bg-black {
    background-color: #000;
}
.bg-section-games {
    background-color: #1F1F1F;
}

.bg-section-upgrade {
    background-color: #BEBCBB;
}

.bg-section-now {
    background-color: #161C3B;
}

.bg-footer {
    background-color: #00439C;
}

.bg-btt-login {
    background-color: #363636;
}

.bg-btt-info {
    background-color: #2D64E6;
    color: white;
}

.bg-btt-psnow {
    background-color: white;
    color: black;
}

.bg-btt-shop {
    background-color: #CD3D0F;
}

.bg-btt-discount {
    background-color: #e4ddd9;
    color: #2D64E6;
}


/* UTILS */

*{
    font-family: Arial, sans-serif;
}

.b-radius10 {
    border-radius: 10px;
}

.b-radius20 {
    border-radius: 20px;
}

.py-6 {
    padding: 5rem 0 5rem 0;
}

.z-index {
    z-index: 1;
}

/* HEADER */

#header-top img {
    height: 34px;
}

#header-bottom {
    background-color: white;
    height: 60px;
}

#header-bottom li a{
    color: black;
}

#header-bottom li a:hover {
    color: rgb(30, 109, 255);
}

.btn-hover-white:hover {
    box-shadow: inset 0 0 0 2px white;
    color: white;
}

/* MAIN */

/* SECTION 1 */
#hero-1 {
    background-image: url("../img/jumbo-bg.png");
    margin-top: 94px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-hover-black:hover {
    box-shadow: inset 0 0 0 2px black;
}

.hero .row {
    height: 600px;
}

/* SECTION 2 GAMES */

#section-games figure img:hover{
    transform: translateY(-13px) ;
    transition: all 0.7s;
}

#section-games .evidenced {
    outline-offset: 0.2rem;
    outline: 2px solid rgb(30, 109, 255);
    outline-style: auto;
}

/* SECTION 3 CONSOLE 5 */

#section-ps5 .img-opacity {
    filter: opacity(0.5);
}

#section-ps5 figure:hover {
    filter: opacity(1);
}

#section-ps5 .btn:hover {
    box-shadow: inset 0 0 0 2px white;
    color: white;
}

/* SECTION 4 BANNER  */
#hero-2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* SECTION 7 UPGRADE  */
#section-upgrade {
    background-color: #BEBCBB;
}

.btn-hover-reg:hover {
    box-shadow: inset 0 0 0 2px #BEBCBB;
    color: blue;
}


/* SECTION PS NOW */

#section-ps-now {
    background-color: #161C3B;
}

.btn-hover-now:hover {
    box-shadow: inset 0 0 0 2px black;
}

 /* SECTION 6 CONSOLE PS-5 */

.section-console5 .evidenced-ps5::after {
    content: "";
    display: block;
    height: 2px;
    background-color: blue;
    margin-top: 40px;
}

/* FOOTER */

footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 5px;
}

footer a:hover {
    color: white;
}

/* MIN-WIDTH 1400PX */

@media screen and (min-width: 1400px) {
   .content-w-45 {
    max-width: 45%;
   } 
}